@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a {
    border-radius: 10px;
    font-size: 1.5rem;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3762ff;
    --secondary-color: #000;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --hover-green: green;
    --primary-font: 'Hind', sans-serif;
    --secondary-font: 'Hind', sans-serif;
    ;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

h2 {
    font-weight: bold;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}

h4 {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

h5 {
    font-weight: 900;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn {
    padding: 0.625rem 1.875rem;
    line-height: 25px;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--white-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgba(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.white-btn {
    padding: 0.625rem 1.875rem;
    line-height: 25px;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--white-color);
    border-radius: 10px;
    color: var(--primary-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgba(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--hover-green);
    color: var(--white-color);
}

.white-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-gray);
}

.wrapper {
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}

.text-content {
    width: 70%;
    margin: auto;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

li {
    font-weight: 600;
    color: var(--primary-color);
}

.nav-link {
    font-size: 00.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

.navigation-wrap.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--white-color);
    box-shadow: 0 1.125rem 1.75rem 0 rgba(0, 0, 0, 0.09);
    transition: all .5s ease-in-out;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-brand span {
    color: var(--secondary-color);
}

.home {
    background: url(../Images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 2.25rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 2rem;
}

.services .box-container .box {
    text-align: center;
    padding: 2rem;
    background-color: var(--white-color);
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.8);
}

.services .box-container .box img {
    margin: 1rem 0;
}

.process .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 2rem;
    padding: 2rem;
}

.process .box-container .box {
    text-align: center;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 10px;
    height: 28rem;
    box-shadow: 0 1.375rem 2rem --white-color;
}

.process .box-container .box img {
    margin: 1rem 0;
}

.process .box-container .box p {
    color: var(--white-color);
}

.container .content span {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.container .content h2 {
    font-weight: 500;
}

.contact {
    height: 100vh;
    display: grid;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1) {
    flex: 30%;
    background: url(/Images/1.jpg);
    color: var(--white-color);
}

.contact-in:nth-child(2) {
    flex: 45%;
    background: var(--primary-color);
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--white-color);
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--white-color);
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a i {
    font-size: 14px;
    line-height: 30px;
    color: #000;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
    color: #fff;
}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;
}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.contact-in iframe {
    width: 100%;
    height: 100%;
}